$orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$darker-cyan: hsl(179, 100%, 13%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution {
    color: $orange;
}
