$orange: hsl(31, 77%, 52%);
$cyan: hsl(184, 100%, 22%);
$darkcyan: hsl(179, 100%, 13%);
$white: hsla(0, 0%, 100%, 0.75);
$light-gray: hsl(0, 0%, 95%);

$large: 60em; // 960 px
$medium: 52.5em; // 840 px
$small: 46.25em; // 740 px
$smaller: 31.25em; // 500 px


* {
    margin: 0;
    padding: 0;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}
  
html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $large) {
        font-size: 56.25%;
    }

    @media only screen and (max-width: $medium) {
        font-size: 50%;
    }

    @media only screen and (max-width: $small) {
        font-size: 62.5%;
    }
}

body {
    background-color: $light-gray;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5rem;
    color: $white;
}

.container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    max-width: 92rem;
    overflow: hidden;

    @media only screen and (max-width: $small) {
        flex-direction: column;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin: 5vh 5vh 10vh;
    }
}

.card {
    min-width: 30rem;
    min-height: 50rem;
    flex: 1;
    padding: 5rem;
    color: $light-gray;

    &--orange {
        background-color: $orange;
    }

    &--cyan {
        background-color: $cyan;
    }

    &--darkcyan {
        background-color: $darkcyan;
    }

    @media only screen and (max-width: $small) {
        min-height: 42rem;
    }
}

.icon {;
    width: 6.5rem;
    margin-bottom: 3.5rem;
}

.heading {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 4rem;
    color: $light-gray;
    text-transform: uppercase;
    margin-bottom: 2.8rem;
}

.paragraph {
    color: $white;
    line-height: 1.7;
    margin-bottom: 7.5rem;

    @media only screen and (max-width: $smaller) {
        margin-bottom: 4.5rem;
    }
}

.btn {
    &,
    &:link,
    &:visited {
        background-color: $light-gray;
        border: 2px solid $light-gray;
        border-radius: 10rem;
        text-decoration: none;
        padding: 1.3rem 2.6rem;
        display: inline-block;
        cursor: pointer;
        transition: all .2s;
    }

    &:hover {
        transform: scale(1.05);
    }

    &:active,
    &:focus {
        outline: none;
        color: inherit;
        background-color: transparent;
        transform: scale(0.95);
    }

    &--orange {
        color: $orange;
    }

    &--cyan {
        color: $cyan;
    }

    &--darkcyan {
        color: $darkcyan;
    }
}

// attribution

.attribution {
    position: absolute;
    bottom: 1.5rem;
    width: 100%;
    text-align: center;
    color: hsl(0, 0%, 75%);

    &__link {
        text-decoration: none;
        color: hsl(0, 0%, 65%);
    }

    @media only screen and (max-width: $small) {
        position: relative;
        padding: 0 5vh;
    }
}